@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'OnePiece';
    src: url('../fonts/one-piece.ttf') format('truetype');
}

@font-face {
    font-family: 'Bleach';
    src: url('../fonts/bleach.ttf') format('truetype');
}

@font-face {
    font-family: 'BlackClover';
    src: url('../fonts/black-clover.ttf') format('truetype');
}

@font-face {
    font-family: 'DemonSlayer';
    src: url('../fonts/demonslayer.ttf') format('truetype');
}

@font-face {
    font-family: 'JujutsuKaisen';
    src: url('../fonts/jujutsu-kaisen.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}